@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$font-ubuntu: 'Ubuntu', sans-serif;

* {
	font-family: $font-ubuntu;
}

h1 {
	font-size: 56px;
	line-height: 60px;
	font-weight: 700;
}

h2 {
	font-size: 38px;
	line-height: 40px;
	font-weight: 700;
}

h3 {
	font-size: 28px;
	line-height: 36px;
	font-weight: 700;
}

h4 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
}

h5 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
}

h6 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}